.Login {
    display: flex;
    justify-content: space-between;
}

.welcome-text {
    font: 8em Impact;
    color: #204142;
    text-align: center;
    padding-top: 100px;
    padding-left: 100px;
    justify-content: flex-start;
    align-items: center;
}

.crystal-delta {
    color: #a36013;
}

.login-area {
    position: absolute;
    z-index: 1;
    margin-top: 5%;
    margin-left: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 70vh;
    border: 50;
    border-radius: 10px;
    box-shadow: 0 0px 5px rgb(92, 92, 92);
}

.login-title {
    margin: 50px 50px 50px 20px;
    font: 30px "Helvetica Neue";
    font-weight: bold;
}

.login-input {
    margin: 20px;   
}

.login-input-fields {
    display: flex;
    flex-direction: column;
}

.login-submit {
    margin: 20px;
}

.login-submit Button {
    font-weight: bold;
    padding: 20px;
    background-color:#1c7885;
}

.login-submit Button:hover {
    background-color:#4f9ca7;
}

.error-message {
    margin-right: 20px;
    color: rgb(243, 75, 75);
    display: flex;
    flex-direction: row-reverse;
}