.App-logo {
  padding-left: 30px;
  padding-top: 30px;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7bd2fa;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 141, 156);
}

.App-blank {
  background-color: #fff;
  flex-direction: row-reverse;
  width: 35%;
}

.App-link {
  color: #61dafb;
}

.App-body {
  position: absolute;
  z-index: -1;
  background-color: #7bd2fa;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 90vh;
  width: 100%;
}

.App-body-blank {
  background-color: #fff;
  width: 35%;
}
